//Menu Page - Carousel
.page-id-22 .banner-image {
    border-top:  0.31rem solid #452525; 
    border-bottom:  0.31rem solid #452525;

    img {
        //height: 98vh;
        object-fit: cover;
    }
    
}

// About Page - Banner
.page-id-24 .attachment-post-thumbnail {
    border-top:  0.31rem solid #452525; 
    border-bottom:  0.31rem solid #452525; 

    @media (min-width: 37.5em) { // 600px/16px
    //height: 90vh;
    object-fit: cover;
    }
}

// Contact Page - Banner
.page-id-26 .attachment-post-thumbnail {
    border-top:  0.31rem solid #452525; 
    border-bottom:  0.31rem solid #452525; 

    @media (min-width: 37.5em) { // 600px/16px
    //height: 90vh;
    object-fit: cover;
    }
}

// Community Page - Banner
.page-id-30 .attachment-post-thumbnail {
    border-top:  0.31rem solid #452525; 
    border-bottom:  0.31rem solid #452525; 

    @media (min-width: 37.5em) { // 600px/16px
    //height: 90vh;
    object-fit: cover;
    }
}

//Career Page - Banner
.page-id-28 .attachment-post-thumbnail {
    border-top:  0.31rem solid #452525; 
    border-bottom:  0.31rem solid #452525; 

    @media (min-width: 37.5em) { // 600px/16px
    //height: 90vh;
    object-fit: cover;
    }
}



