.vlx__community{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem;

    .vlx__community--event{
        padding: 1rem;
        margin: 1rem;
        background-color: #DED7C9;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}