.vlx__about__team--content{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    gap: 1.25rem;

   

    .vlx__about__team-member-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 1.25rem;
        margin-right: 1.25rem;

        &:nth-child(even) {
            margin-right: 0;
        }
       
    }
    
}
.vlx__about__team h2{
    text-align: center;
}

@media screen and (min-width: 37.5em){
    .vlx__about__team--content{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(45%, 1fr)); 
        gap: 1.25rem;
        justify-content: space-between; 
       
    }
    .vlx__about__team-member-info {
        margin-bottom: 1.25rem;
        padding: 1rem;
    }
    .vlx__about__team__content--locationTitle {
        text-align: center;
        grid-column: 1 / -1;
    }
  
   
}
@media screen and (min-width: 56.25em){
    .vlx__about__team--content {
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr)); 
    }
}
@media screen and (min-width: 56.25em) and (max-width: 75em) {
    .vlx__about__team--content {
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr)); 
    }
}



// Menu Page //
.vlx__menu__category{
    display: none;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    gap: 1.25rem;

    &.show{
        display: flex;
    }

   
}

.vlx__menu__category--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1.25rem;
    padding: 1rem 5rem;

   
    &:nth-child(even) {
        margin-right: 0;
    }

    img{
    
    max-width: 250px;
    
    }
}

.vlx__menu__category--title {
    text-align: center;
    margin-bottom: 1.25rem;
}


.vlx__menu__category__item--allergen {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    margin-left: -1.5rem; 
    flex-direction: row;

    
}

.vlx__menu__category__item--allergen svg {
    width: 3rem;
    height: 2rem;
    margin-right: 0.5rem;
    align-self: flex-start;
    margin-left: -1rem; 
}
.vlx__menu__category__container .vlx__menu__category--item img{
    height: 250px;
    object-position: center;
    object-fit: cover;
}





@media screen and (min-width: 43.75em){
    .vlx__menu__category{
        align-items: center;
        flex-direction: column;
        gap: 1.25rem;
        justify-content: space-between; 
    }
    .vlx__menu__category__container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }

    .vlx__menu__category--item{
        margin-bottom: 1.25rem;
        padding: 1rem;
    }
    .vlx__menu__category--title,
    .vlx__menu__category__item--allergen {
    
        margin-left: 0; 
    }
    .vlx__menu__category__item--allergen svg {
        width: 3rem;
        height: 2rem;
      
        align-self: center;
        margin-left: 0.5rem;
    }


}
@media screen and (min-width: 56.25em) and (max-width: 75em){

    .vlx__menu__category__container{
        grid-template-columns: 1fr, 1fr, 1fr;
    }
        
    
}












    




   


    


 
