
.vlx__footer {
    background-color: $color_tan-bg;
    height: auto;
    margin-top: 3rem;
    margin-bottom: 0;
    padding: 1rem;
    text-align: center; 

    .vlx__footer__section {
        display: flex;
        flex-direction: column; // for smaller screens
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem; 

        .menu {
            display: flex;
            flex-direction: row; 
            list-style-type: none;
            margin-top: 1rem; 
        }

        .footer-logo svg {
            height: auto;
            width: 10rem;
            margin-bottom: 1rem;
        }
    }

    @media (min-width: 37.5em) { // 600px/16px
        align-content: center;
        height: 10rem;
        margin-top: 5rem;  
        padding: 0 1rem;

        .vlx__footer__section {
            flex-direction: row; // for larger screens
            margin-top: 0.75rem; 

            .menu {
                flex-direction: row; 
                margin-top: 2rem; 
            }
            .footer-logo {
                height: auto;
                width: 10rem;
            }
        }
    }
}


