/* Import */
@import 'sass/abstracts/variables/colors';

/* Base styles */
.site-header {
	margin-top: 0.5rem;
	position: relative;
}

.site-header ul {
	list-style-type: none;
	display: none;
}

.site-branding {
	width: 12rem;
	position: static;
	top: 0.5rem;
	margin: 0.5rem;
}

.main-navigation {
	display: flex;
	width: 100%;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: flex-end;
	margin-top: 0.5rem;
}

.menu-menu-1-container {
	text-align: center;
	margin: 0 0 1rem;
	position: absolute;
	top: 4rem;
	right: 0;
	z-index: 6;
	width: 100%;
	display: flex;
}

ul {
	margin: 0;
	padding-left: 0;
	gap: 1rem;
	justify-content: flex-end;
	flex-direction: column;
}

/* Navigation styles */
.main-navigation.toggled .nav-menu,
.main-navigation.toggled ul {
	flex-direction: column;
	width: 100%;
	margin: 0;
	padding: 1rem;
}

ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

ul ul ul {
	left: -999em;
	top: 0;
}

li:hover > ul,
li.focus > ul {
	display: block;
	left: auto;
}

li {
	position: relative;
	margin-bottom: 1rem;
}

a {
	display: block;
	text-decoration: none;
	color: $color_titles;
}

a:hover,
a.focus {
	color: $color_accent;
}

.nav-menu {
	position: absolute;
	top: 5rem;
	right: 0;
}

.nav-menu li {
	margin-bottom: 0;
}

.nav-menu a {
	color: $color_titles;
}

.menu-toggle,
.main-navigation.toggled ul {
	position: absolute;
	top: 0;
	right: 0;
	background: transparent;
	display: flex;
	background-color: #fff;
	border: none;
	justify-content: flex-end;
	width: fit-content;
	margin: 1rem 0 0;
}

/* Custom header styles for home */
.page-id-18 .site-header {
	margin: 0;
}

.page-id-18 .home-custom-header img {
	display: block;
	position: relative;
	z-index: 1;
	height: 100vh;
	object-fit: cover;
	margin-bottom: 3rem;
}

.page-id-18 .header-content svg {
	width: 15rem;
}

.page-id-18 .site-branding,
.page-id-18 .custom-logo {
	display: none;
	top: 0;
	right: 10rem;
}

.page-id-18 .menu-toggle {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 70000;
	background: none;
	margin: 0;
}

.page-id-18 .main-navigation {
	position: absolute;
	top: 1rem;
}

.page-id-18 .nav-menu {
	display: none;
}

.page-id-18 .main-navigation.toggled {
	z-index: 11;
}

.page-id-18 .main-navigation.toggled ul {
	position: absolute;
	top: 0;
	right: 0;
	background: #fff;
	padding: 1rem;
}

.page-id-18 .path1,
.page-id-18 .path2,
.page-id-18 .path3 {
	stroke: $color__background-body;
}

.page-id-18 .home-logo {
	position: absolute;
	top: 8rem;
	left: 2.5rem;
	z-index: 10;
	width: fit-content;
}

.page-id-18 .home-logo svg {
	max-height: 5rem;
	background: $color_tan-bg;
	padding: 0.5rem;
}

.page-id-18 .tagline {
	display: flex;
	position: absolute;
	top: 14rem;
	left: 2rem;
	background: $text_bg_light;
	margin: 0;
	width: 80%;
	padding: 1rem;
	z-index: 2;
	color: #fff;
}

.page-id-18 #cta {
	position: absolute;
	bottom: 2rem;
	right: 0;
	left: 0;
	margin: 0 auto;
	background: $color_titles;
	text-decoration: none;
	color: #fff;
	padding: 1rem;
	z-index: 4;
	background-color: $color_titles;
	width: 8rem;
	display: flex;
	justify-content: center;
}

.page-id-18 .vlx__home__banner {
	display: none;
}

/* Responsive styles */

@media screen and (min-width: 48em) {
	.site-header {
		position: static;
	}


	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}

	.main-navigation .menu-menu-1-container {
		top: 0.5rem;
		margin: 0 1rem 0 0;
	}

	.main-navigation .menu-menu-1-container .menu {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 30000;
		width: fit-content;
		margin-top: 1rem;
		display: flex;
		flex-direction: row;
	}

	.nav-menu a:hover {
		background-color: $color_accent;
		color: #fff;
	}

	.page-id-18 .site-header {
		padding: 0;
	}

	.page-id-18 .main-navigation .menu-menu-1-container .menu {
		top: 0;
		background-color: $color_tan-bg;
		padding: 1rem;
		font-size: 1.5rem;
	}

	.page-id-18 .main-navigation .menu-menu-1-container {
		top: 2rem;
	}

	.page-id-18 .header-content svg {
		width: 20rem;
	}

	.page-id-18 .home-custom-header img {
		height: 100vh;
	}

	.page-id-18 .home-logo {
		top: 15rem;
	}

	.page-id-18 .home-logo svg {
		padding: 0.3rem;
		max-height: none;
		height: 8rem;
	}

	.page-id-18 .tagline {
		left: 3rem;
		display: flex;
		flex-wrap: wrap;
		position: absolute;
		top: 30rem;
		max-width: 50%;
		font-size: 1.5rem;
	}

	.page-id-18 #cta {
		font-size: 1.5rem;
		width: 15rem;
		display: flex;
		justify-content: center;
	}

	.page-id-18 #cta:hover {
		background-color: $color_accent;
	}

	@media screen and (min-width: 80em) {
		.page-id-18 .tagline {
			left: 35rem;
			display: flex;
			font-size: 2rem;
		}

		.page-id-18 #cta {
			font-size: 2rem;
		}

		@media screen and (min-width: 100em) {
			.page-id-18 .tagline {
				left: 50rem;
			}

		}
	}
}