@import 'sass/abstracts/variables/colors';

.site-header{

	position: relative;

	.custom-logo {
		width: 12rem;
		position: absolute;
		top: 0.5rem;
		margin: 0rem 0 0.5rem 0.5rem;
	}
}


.main-navigation {
	display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;

	
	.nav-menu {
		flex-direction: column;
	}

	.menu-menu-1-container {
		text-align: center;
		margin: 0 0 1rem 0;
	}

	

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		gap: 1rem;
		justify-content: flex-end;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
				
				
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
				
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
		

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: $color_titles ;
	}

	a:hover,
	a.focus {
		color: $color_accent;
	}

	
	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: flex;
	background-color: #fff;
	border: none;
	justify-content: flex-end;
	width: 100%;
	margin: 0;
}

// Change hamburger svg colors
.path1,
.path2,
.path3 {
    stroke: $color-button-bg;
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}


// Custom header styles for home
.page-id-18 {

	.site-main .home-custom-header img{
		display: block;
		position: relative;
		z-index: 1;
		object-fit: cover;
    	max-height: 40rem;
		height: unset;
	}

	.header-content svg {
		width: 10rem;
	}

	.site-branding,
	.custom-logo {
		display: none;
		top: 0;
		right: 10rem;
	}

	.menu-toggle {
		position: absolute;
		top: 1rem;
		right: 0;
		z-index: 70000;
		background: none;
	}

	.main-navigation{
		position: absolute;
		top: 0;
	}

	.main-navigation.toggled ul  {
		position: absolute;
		top: 4rem;
		right: 0;
		z-index: 10000;
		background: #fff;
		padding: 1rem;

	}

	.nav-menu {
		display: flex;
		flex-direction: column;
	}


	// Change the hamburger button color to white
	.path1,
	.path2,
	.path3 {
    stroke: $color__background-body;
	}

	.home-logo {
	position: absolute;
	top: 7rem;
	left: 5rem;
	z-index: 10;
	width: fit-content;
	}

	.home-logo svg {
		max-height: 4rem;
		background: $color_tan-bg;
		padding: 0;
	}

}

// For desktop screens
@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}

	 .main-navigation .menu-menu-1-container .menu {
		position: absolute;
		top: 5rem;
		right: 0;
		z-index: 30000;
		background-color: $color_tan-bg;
		width: fit-content;
		margin: 0;
		display: flex;
		flex-direction: row;
		margin: 1rem;
		padding: 1rem;
			
	}
		
	}
