@import "sass/abstracts/variables/colors";

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	//border-color: $color__border-button;
	border-radius: 3px;
	background: $color-button-bg;
	color: #ffffff;
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.wp-element-button {
	background-color: $color_button_bg;
	border-radius: 0;
}

// Career Page - Job Posting Btns
.page-id-28 .gform_page{
	border-radius: 0.75rem;
}

// Career Page - Application Form 'Next' Btn 
.page-id-28 .gform-body .gform_page_footer{

	background-color: $color_button_bg;
	//width: fit-content;
    
	.button{
	background-color: $color_button_bg;

	}

}

